body {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(192,45,253,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
}
.App {
  width: 500px;
  background-color: white;
  border-radius: 30px;
  padding: 40px;
  position: relative;

}
/* .progres {
  height: 10px;
  border-radius: 30px;
  background-color: rgb(232, 232, 232);
  margin-bottom: 25px;
} */

li {
  border: 1px solid rgba(34,193,195,1);
  border-radius: 30px;
  background-color: rgba(34,193,195,1);
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
  list-style-type: none;
  box-shadow: 5px 5px 5px rgba(192,45,253,1);
}
li:hover {
  border: 1px solid rgba(192,45,253,1);
  background-color: rgba(192,45,253,1);
   transition: all 0.3s ease-in-out;
}
.container-result {
text-align: center;
}
.container-game {
  text-align: center;
}
.zanovo {
  width: 200px;
  font-size: 20px;
  padding: 5px;
  border-radius: 30px;
  background-color: rgba(192,45,253,1);
  border-style: none;
}
.zanovo:hover {
  background-color: rgba(34,193,195,1);
}
.res {
  font-size: 25px;
  font-weight: bold;
}


.progres-div {
  height: 10px;
  border-radius: 30px;
  background-color: rgb(232, 232, 232);
  margin-bottom: 25px;
}

.progress {
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  height: 10px;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
};
